POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
NODE_ENV=production
ENABLE_BACKGROUND_JOBS=true
LOGGERNET_REJECT_UNAUTHORIZED=false
OAUTH_CALLBACK_URL=https://observationsmonitor.saeon.ac.za/api/logged_in
WEB_HOST_PORT=3080
API_HOST_PORT=3081
DB_HOST_PORT=55432
