/* Analytics.css */
.analytics-dashboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

.analytics-card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.analytics-card h3 {
    margin-top: 0;
    font-size: 1.0em;
    color: #333;
    text-align: center;
}

.echarts-container {
    height: 400px;
}
