.data-table-container {
    overflow-x: auto; /* Horizontal scrolling for small screens */
    padding: 20px;
    width: 100%;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 9px; /* Adjust to your desired size */
}

/*.table {*/
/*    */
/*}*/

/*.tableHeader {*/
/*    font-size: 14px; !* Adjust to your desired size *!*/
/*}*/


.data-table th,
.data-table td {
    border: 1px solid #09160e;
    padding: 8px 15px;
    text-align: left;
}

.data-table th {
    background-color: #f7f7f7;
    font-weight: 500;
}

.data-table tbody tr:hover {
    background-color: #f2f2f2;
}

.controls-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.date-range-container, .checkbox-container, .download-csv-button {
    margin: 8px;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 800px;
}

.close-modal {
    position: absolute;
    right: 10px;
    top: 5px;
    border: none;
    background: none;
    font-size: 1.5rem;
    cursor: pointer;
}
@media (max-width: 480px) {
    .data-table {
        font-size: 8px; /* Even smaller font size for very small screens */
    }

    .data-table td, .data-table th {
        padding: 4px 8px; /* Reduce padding to fit more content */
    }

    .modal-content {
        padding: 10px; /* Reduce padding to allow more space for the table */
    }
}
