.mapping-summary-table {
    padding: 20px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.date-picker-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.date-picker-container .react-datepicker-wrapper {
    width: 45%;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    font-size: 0.8em;
    word-wrap: break-word;
}

th {
    background-color: #163552;
    color: #ffffff;
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination button {
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 0.8em;
}

.pagination span {
    font-size: 0.8em;
}

.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
