.scrollable-table-container2 {
    overflow-x: auto;
    border: 1px solid #ccc;
}
.date-controls-container2 {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items vertically */
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.controls-header2 {
    text-align: center;
    margin-bottom: 15px;
}
.date-instructions2 {
    font-style: italic;
    color: #333;
    margin-top: 5px;
    text-align: center;
}
.controls-content2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%; /* Ensure full width for alignment */
}
.dropdown-container2 {
    position: relative;
    width: 200px; /* Adjusted width for dropdown */
}

.dropdown-button2 {
    background-color: #e0e0e0;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: left;
    width: 100%;

}
.dropdown-menu2 {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 50000;
    width: 100%; /* Full width of the dropdown container */
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.dropdown-item2 {
    padding: 8px 10px;
    border-bottom: 1px solid #ddd;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: left;
}

.dropdown-item2:hover {
    background-color: #e7e7e7;
}

.dropdown-item2:last-child {
    border-bottom: none;
}

/* Container Styles */

.date-picker-container2
{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px; /* Consistent margin */
}

@media screen and (max-width: 768px) {


    .controls-content2 {
        flex-direction: column;
        align-items: stretch;
    }
}
