.unified-mapping-table {
    padding: 20px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.unified-mapping-table .update-section {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.unified-mapping-table .input-group {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-bottom: 10px;
    flex: 1;
    min-width: 150px;
}

.unified-mapping-table .input-group label {
    margin-bottom: 5px;
    font-size: 0.8em;
}

.unified-mapping-table .input-group input {
    padding: 5px;
    font-size: 0.8em;
    width: 100%;
}

.unified-mapping-table button {
    padding: 10px;
    font-size: 0.8em;
    margin-top: 20px;
}

.unified-mapping-table .filter-section {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.unified-mapping-table .filter-section select {
    padding: 5px;
    font-size: 0.8em;
    margin-right: 10px;
    flex: 1;
    min-width: 150px;
    margin-bottom: 10px;
}

.unified-mapping-table table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.unified-mapping-table th,
.unified-mapping-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    font-size: 0.8em;
    word-wrap: break-word;
}

.unified-mapping-table th {
    background-color: #163552;
    color: #ffffff;
}

.unified-mapping-table .pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.unified-mapping-table .pagination button {
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 0.8em;
}

.unified-mapping-table .pagination span {
    font-size: 0.8em;
}

.unified-mapping-table .loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/*.ReactModal__Overlay {*/
/*    background-color: rgba(0, 0, 0, 0.75);*/
/*}*/

/*.ReactModal__Content {*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    right: auto;*/
/*    bottom: auto;*/
/*    margin-right: -50%;*/
/*    transform: translate(-50%, -50%);*/
/*    padding: 20px;*/
/*    max-width: 500px;*/
/*    width: 100%;*/
/*}*/

@media (max-width: 768px) {
    .unified-mapping-table .input-group {
        width: 100%;
        margin-right: 0;
    }

    .unified-mapping-table .filter-section {
        flex-direction: column;
        align-items: flex-start;
    }

    .unified-mapping-table .filter-section select {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .unified-mapping-table table th,
    .unified-mapping-table table td {
        padding: 5px;
    }

    .unified-mapping-table .pagination button {
        padding: 5px;
    }
}
