DB_USER=postgres
DB_HOST=db
DB_NAME=loggernet
DB_PASSWORD=change-me
DB_PORT=5432
PORT=3003

SESSION_SECRET=change-me

OAUTH_CLIENT_ID=change-me
OAUTH_CLIENT_SECRET=change-me
OAUTH_AUTHORIZATION_URL=https://example.org/oauth/authorize
OAUTH_TOKEN_URL=https://example.org/oauth/token
OAUTH_CALLBACK_URL=http://localhost:3080/api/logged_in

NODE_ENV=development
ENABLE_BACKGROUND_JOBS=false
LOGGERNET_REJECT_UNAUTHORIZED=false
TABLE_VALUE_REQUEST_TIMEOUT_MS=45000
